.subTitulo{
  color: #fff;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  padding: 2% 10%;
  margin-bottom: 0;
  margin-top: 5px;
}
  .btn-form{
    font-size: 30px !important;
    background: #E12526 !important;
    padding: 4px 80px !important;
    letter-spacing: 1px;
    border-radius: 10px !important;
    opacity: .9;
    margin-top: 2%;
  }
.form-group{
  padding: 0 15%;
}   
.input-group-text{
background-color: white !important;
color:#E12526 !important;
}