/*Texto y boton de Bienvenido*/
.titulo{
  font-family: "Roboto Condensed";
  font-size: 35px;
  color: #fff;
  letter-spacing: 1px;
  padding: 3%;
  h1{
    text-align: center !important;
    margin-top: 4%!important;
    margin-bottom: 2%!important;
    text-transform: uppercase;
    font-size: 150% !important;
  }
  p{
    margin-bottom: 6%;
    font-weight: 300;
    font-size: 90%;
  }
  button{
    font-size: 30px;
    background: #E12526 !important;
    padding: 7px 83px;
    letter-spacing: 1px;
    border-radius: 10px;
    opacity: .9;
  }
}
