.subTitulo{
  color: #fff;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  padding: 2% 10%;
  margin-bottom: 0;
  margin-top: 5px;
}
.btn-form{
  font-size: 30px !important;
  background: #E12526 !important;
  padding: 4px 80px !important;
  letter-spacing: 1px;
  border-radius: 10px !important;
  opacity: .9;
  margin-top: 2%;
}
.input-form{
  padding: 0 24px!important;
  height: 45px!important;
  font-size: 20px!important;
  font-family: "Roboto condensed";
  border-radius: 7px!important;
}
.input-group{
  padding: 0 24%;
}
.form-group{
  margin-bottom: 1.5rem!important;
}
