.btn-foto{
  font-family: "Roboto Condensed";
  font-size: 28px!important;
  color: #fff!important;
  border: 2px solid #fff!important;
  border-radius: 6px!important;
  padding: 10px 45px!important;
  text-decoration: none!important;
  margin-top: 5%;
}
.pa{
  padding: 10px 60px!important;
  margin-top: 115%
}
.orientacion{
  float: right;
}
