div{
  font-family: "Roboto Condensed";
}
.titulo-grcs{
  color: #fff;
  font-weight: 600;
  font-size: 55px;
  text-align: center;
  padding: 0!important;
  margin-bottom: 20px;
}
.sub-titulo{
  letter-spacing: 1px;
  font-size: 28px;
  padding: 0 74px;
  font-weight: 300;
}
.btn-formu{
  margin-top: 50px;
}
