/* IMAGEN DE FONDO */
.background{
margin:0;
min-height: 100vh;
background: #fff!important;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

/* CAPA DE GRADIENTE ARRIBA DE LA IMAGEN */
.background:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, black,#E12526);
    opacity: 0.9;
}
