/* IMAGEN DE FONDO */
.div-background{
margin:0;
min-height: 100vh;
background-image: url(../img/background.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

/* CAPA DE GRADIENTE ARRIBA DE LA IMAGEN */
.div-background:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, black,#E12526);
    opacity: 0.5;
}

/* LOGO DE FOURTH DIMENSION */
.img-fourth-dimension{
    width: 129px;
    height: 151px;
    margin-top: 11%;
}

/* LOGO DE ISITA */
.img-isita{
    width: 169px;
    height: 59px;
    margin-top: 19%;
}
