/*
 * Some best-practice CSS that's useful for most apps
 * Just remove them if they're not what you want
*/

html {
    box-sizing: border-box;
  }
  
  html,
  body {
    /*margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;*/
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .react-html5-camera-photo > video {
    width: 450px;
    
}