html{
    font-size: 85.5%;
    text-align: center;
   }

body{
    font-family: Helvetica,verdana, sans-serif;
    font-size: $m-size;
    
    background-color: rgb(49, 51, 50);
    text-align: center;
    color: rgb(246, 246, 250);
   h1{
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
   }
   h2{
    text-align: left;
    font-size: 85%;
    font-weight: lighter;
   }
   h3{
    text-align: center;
    font-size: 400%;
   }
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: default;
}
h3{
    margin:0;
     }

div p {
    color: rgb(246, 246, 250);
    font: size 110;
}
input{
    font-size: 20px;
    width:300px;
        
}
#logo{
 display: table;
 }
 #Login{
    display: table;
    inline-size: min(280px);
    }
    ex1 {
        padding-top: 75px;
      }

      .react-datepicker__input-container input{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      